@import url("https://fonts.googleapis.com/css2?family=Zain:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 24px;
}

body {
  background-color: rgb(248, 246, 253);
}

body,
input,
select,
textarea,
button {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.App {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

/* Contact.js */
.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.7);
  animation: slideIn 1s ease-out;
}

.form > h1 {
  margin-bottom: 20px;
  font-size: 44px;
  animation: colorChange 3s ease-in-out infinite;
}

.form > input,
select,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  color: rgb(0, 0, 32);
  outline: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form > input:focus,
select:focus,
textarea:focus {
  border: 2px double #9ce4ff;
  box-shadow: 0 0 10px #9ce4ff;
  transition: all 0.3s ease-in-out;
}

.form > input:hover,
select:hover,
textarea:hover {
  transform: scale(1.02);
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 5px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: #38caff;
  font-weight: bold;
  font-size: 26px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: #8ee49c;
  transform: scale(1.05);
  box-shadow: 0 0 10px #8ee49c;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: #38caff;
  }
}
